<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Nguyễn Ngọc Sáng</h1>
    <h2>@ViewBag.List</h2>
</body>
</html>
